body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
}

h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 30px;
  margin-right: 30px;

}

a:hover {
  color: lightslategray;
}

/* ==========Header Section=========== */

header {
  display: flex;
  background-color: white;


}

.logo {
  margin-left: 40px;

}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 68%;
}

/* =================Main Section=============== */

#full-screen-video {
  border: solid black 5px;
  width: 99.5vw;
}

.picture-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  border: solid black 1px;
  object-fit: cover;

}

.measurements {
  text-align: center;
}

.Motivation {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 300px 400px;
  padding-top: 50px;
}

.green-coat {
  grid-row-start: 1;
  grid-row-end: 3;
}

/* .quote {
  grid-row-start: 1;
  grid-row-end: 2;
} */
blockquote {
  margin: 10px 20px;
  padding: 30px 20px;
  font-size: 24px;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";

}

blockquote:before {
  color: black;
  content: open-quote;
  font-size: 100px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 300px 350px;
}

.red-dress {
  grid-row-start: 1;
  grid-row-end: 3;
}

.QR-Code {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  margin-top:-10px;
}

.qr {
  font-weight: 700;
}

.summary {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 2;
  text-align: center;
  font-size: 18px;
}




/* ================================ */
/* ============Footer============== */
/* ================================ */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  align-content: baseline;
  margin-top: 5px;
  border-top: black solid 1px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=submit] {
  width: 50%;
  padding: 10px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Raleway', sans-serif;
  font-size: small;


}